.myContent{
    min-height: calc(100vh - 80px - 30px);
}

#cartItem table{
    font-size: 14px;
}

.book-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.category {
    min-width: 250px;
    clear: both;
    background-color: #ffffff;
    transition: 0.2s;
}

.category a {
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    font-size: 1rem;
    color: #111;
    display: block;
    transition: 0.1s;
}

.category span {
    font-weight: 700;
    font-size: 1.5rem;
    color: #111;
    transition: 0.1s;
}

.category a:hover {
    font-weight: bold;
    color: rgba(94, 114, 228, 0.79);
}

.qty-block{
    display: flex;
    padding: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    border: 1px solid #E0E0E0E0;
    border-radius: 5px;
    height: 30px;
}

.qty-block span{
    -webkit-appearance: none;
    border: none !important;
    flex: 1;
    padding: 0 10px;
    /* width: 2em !important; */
    font-weight: 650;
    font-size: 1.2em;
    text-align: center;
}

.qty-block a{
    font-size: 1.5rem;
}

